*{
    margin: 0%;
    padding: 0%;
    border: 0;
}

#hh1{
    position: relative;
    top: -50px;
}

body{
    background-image: url(pexels-adrien-olichon-3137083.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#navlist{
    position: fixed;
    top: 0px;
    display: inline-flex;
    background-color: white;
    width: 100%;
    height: fit-content;
    box-shadow: 0px 0px 8px black;
}

#navbar > #navlist > li{
    padding: 15px 0px;
    text-decoration: none;
    list-style: none;
}

a{
    font-size: 20px;
    padding: 25px 20px;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    transition-duration: 0.3s;
}

a:hover{
    color: white;
    background-color: lightgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 5px black;
}
a:active{
    background-color: black;
}

#content{
    position: relative;
    top: 80px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content > img{
    width: 300px;
    box-shadow: 5px 8px 20px black;
    border: 1px;
    border-style: solid;
    border-color: black;
    transition-duration: 0.3s;
}

#content > img:hover{
    border-color: white;
    opacity: 95%;
    box-shadow: 3px 5px 10px black;
}

#heading{
    color: white;
    position: relative;
    top: 100px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-shadow: 3px 2px 6px black;
    animation-name: animationforheading;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animationforheading{
    0%{text-shadow: 3px 2px 6px black; color: white;}
    50%{text-shadow: 3px 2px 6px white; color: black;}
    100%{text-shadow: 3px 2px 6px black; color: white;}
}

#information{
    color: white;
    position: relative;
    top: 110px;
    width: auto;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 0px 5px black;
}
#description{
    margin: 0px 20px;
    position: relative;
    top: 100px;
    width: auto;
    height: fit-content;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}
#description > p{
    margin: 5px 20px;
}

#bottomheading{
    position: relative;
    top: 120px;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 5px black;
}

#images{
    position: relative;
    top: 130px;
}

#onscreenimg{
    display: flex;
    align-items: center;
    justify-content: center;
}

#images > #onscreenimg > img{
    border: solid 1px white;
    width: 300px;
}


#sideimgs1{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}
#sideimgs1 > img{
    border: 1px solid white;
    width: 100px;
}

#sideimgs2{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}
#sideimgs2 > img{
    border: 1px solid white;
    width: 100px;
}
