*{
    margin: 0%;
    padding: 0%;
}

#navbar{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url(pexels-adrien-olichon-3137083.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

#navlist{
    display: flex;
    flex-direction: row;
    gap: 10%;
    background-color: cornflowerblue;

}

#navbar > #navlist > li{
    padding: 10px;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
}

#content{
    position: relative;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content > img{
    width: 300px;
    box-shadow: 5px 8px 20px black;
    border: 1px;
    border-style: solid;
    border-color: black;
    transition-duration: 0.3s;
}
#content > img:hover{
    border-color: white;
    opacity: 95%;
    box-shadow: 3px 5px 10px black;
}

#heading{
    color: white;
    position: relative;
    top: 100px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-shadow: 3px 2px 5px black;
}