*{
    margin: 0%;
    padding: 0%;
}

#navbar{
    margin: 0%;
    padding: 0%;
}

#navlist{
    display: flex;
    flex-direction: row;
    gap: 10%;
    background-color: transparent;
    
}

#navbar > #navlist > li{
    padding: 15px 10px;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-decoration: none;
    background: blur(5px);
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: brown;
}

#content{
    position: relative;
    top: 80px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content > img{
    width: 300px;
    box-shadow: 5px 8px 20px black;
    border: 1px;
    border-style: solid;
    border-color: black;
    transition-duration: 0.3s;
}
#content > img:hover{
    border-color: white;
    opacity: 95%;
    box-shadow: 3px 5px 10px black;
}

#heading{
    color: white;
    position: relative;
    top: 100px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-shadow: 3px 2px 5px black;
}


#information{
    position: relative;
    top: 110px;
    width: auto;
    font-family: 'Poppins', sans-serif;

}
#description{
    margin: 0px 20px;
    position: relative;
    top: 100px;
    width: auto;
    height: fit-content;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}
#description > p{
    margin: 5px 20px;
}